:root {
    --widget-border-color: #333388
}

#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0.2em;
}


.fragment {
    border-radius: 8px;
  /* border: 2px solid green; */
  /* padding: 50px;
  margin: 20px;
  width: 300; */
  background: #202055;
  /* display: inline-block; */
  overflow: hidden;
  position: relative;
}

.fragment .fragment-text {
    float: left;
    /* color: red; */
    text-align: center;
    padding: 0 1.6rem;
    /* background: green; */
}

.fragment .fragment-description {
    float: left;
    text-align: center;
}

.fragment .fragment-label {
    float: left;
    /* color: red; */
    text-align: center;
    padding: 0 1.6rem;
    border: 2px solid white;
    margin: 1rem;
}

/* CSS */
.fragment .btn {
    float: left;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.fragment .btn:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .fragment .btn {
    padding: 0 2.6rem;
  }
}

/* -------------------- widgeting ---------------------- */


.widget {
    background-color: #222;
    border-radius: 10px;
    border-color: var(--widget-border-color);
    border-style: solid;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* width: 400px; */
    /* padding: 20px; */
}

.widget-header {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.widget-content {
    display: flex;
    flex-direction: column;
}


.widget-section-header {
    padding: 0 0;
}

.widget-section-header p {
    padding: 0 0;
    margin: 0 5px;
    text-align: left;
}

.widget-section {
    padding: 10px 20px;
}

.widget-textbox {
    width: 100%;
    /* padding: 10px; */
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

.widget-table {
    width: 100%;
    border-collapse: collapse;
}

.widget-table th,
.widget-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.shell-output {
    font-family: monospace;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

hr {
    border: 0;
    border-top: 3px solid var(--widget-border-color);
    /* margin: 10px 0; */
    margin: 10px 0;
    padding: 0 0;
}



